<h1>You successfully created a Recommendation</h1>
<article>
  <h2>You Recommended: <%= @recommendation.title %></h2>
  <p><%= @recommendation.content %></p>
</article>
<aside>
  <h2>Poll: <%= @poll.title %></h2>
</aside>
