<%= link_to "back", polls_path %>
<h1>Polls#show</h1>
<p>Find me in app/views/polls/show.html.erb</p>
<h2><%= @poll.title %></h2>

  <ul>
    <% @poll.choices.each do |choice| %>
    <li><%= choice.title %></li>
    <% end %>
  </ul>

<%= turbo_frame_tag "new_vote", src: new_poll_vote_path(@poll), target: "_top" %>