<%= link_to "back", polls_path %>
<h1>Polls#show</h1>
<p>Find me in app/views/polls/show.html.erb</p>
<h2><%= @poll.title %></h2>

  <ul>
    <% @poll.choices.each do |choice| %>
    <li><%= choice.title %></li>
    <% end %>
  </ul>

<%= render(ShareCardComponent.new(title: "Share your Poll!", subtitle: "Anyone with this link will be able to vote on your poll.", url: poll_url(@poll), button_text: "Copy to Clipboard")) %>

